<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla CSS Scroll ✨</title>
</head>
<body>
    <h1>Vanilla CSS Scroll ✨</h1>
    <div>
        <h2>Welcome to the skin show 🔥</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloribus accusamus incidunt natus officiis id est asperiores? Delectus quam recusandae officiis incidunt aliquid ipsa modi repellat. Illo voluptate saepe repellendus rem optio?</p>

        <ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quos pariatur. Delectus, iure eos!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero blanditiis ipsam soluta nostrum laudantium obcaecati cum voluptates harum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloribus necessitatibus reprehenderit repudiandae ut, qui autem libero!</p>
        </ul>
    </div>
    <div>
        <h2>All New css  features comming to the broswer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, optio totam cum possimus dignissimos qui fugit! Molestias, temporibus. Quia eaque quos voluptatibus! Fuga quaerat pariatur unde, nulla, voluptas, eius nesciunt beatae nobis veritatis vero molestias mollitia quae tempore esse rem.</p>

        <ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero itaque, eos placeat quod ullam sed labore totam maxime. Corporis alias repudiandae incidunt dolores, ratione commodi libero magni mollitia deleniti consectetur.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos facilis ducimus, ex iusto voluptatum molestiae. Similique, neque in? Neque, quod. Esse, excepturi iste?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit animi sunt architecto praesentium temporibus est quas neque, vero placeat repellendus minus sequi, eius autem atque, ipsam aliquam libero vitae repellat exercitationem aperiam aspernatur dolorem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime facilis repudiandae a perspiciatis libero magnam dolore nostrum tempore voluptates amet reprehenderit officiis magni doloribus, quibusdam odit earum corrupti id veritatis. Tenetur officia velit excepturi? Quibusdam mollitia ipsam dicta sequi qui!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolorem reprehenderit dignissimos exercitationem. Ut repellat error laborum quisquam. Ab voluptatum, quis qui eos temporibus in blanditiis nobis nemo at molestiae voluptatibus cum pariatur, maxime magni assumenda quod deserunt atque autem animi. Quas asperiores fugit pariatur expedita cumque, eaque nam impedit.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus repellendus explicabo dicta molestias fugit ex ratione consectetur numquam laborum alias eligendi molestiae optio officiis deleniti itaque corrupti, repudiandae enim tenetur asperiores cum atque unde. Obcaecati quibusdam, quos maxime facere fugit ducimus maiores praesentium? Qui aperiam at quas libero consectetur maxime. Explicabo, esse adipisci? Aperiam tempore quisquam inventore corporis quaerat eaque?</p>
        </ul>
    </div>

    <article>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni ad, autem, in blanditiis optio repudiandae sint eaque unde, accusantium tempora voluptates culpa architecto molestiae itaque omnis odio. Architecto ratione, iure veritatis est aut a quam voluptates quia culpa voluptatem impedit expedita ipsa aliquam placeat natus provident veniam eaque repellendus eum pariatur in. Eos quos sapiente eveniet tenetur praesentium laboriosam ipsa, quaerat et doloribus fugiat ea enim quo fuga voluptate perferendis? Voluptas iusto, cumque et tenetur officia saepe totam, reiciendis modi nulla in, quas provident. Saepe corrupti accusantium veritatis autem ut? Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aperiam. Nobis ullam molestiae aliquid consequatur possimus tempore deleniti quos quis voluptatem architecto eum quas quod repellat amet animi error facere ea soluta, tenetur dolore debitis magni vel? Inventore voluptatibus nam delectus, necessitatibus nobis dolor quidem quas! Nobis velit exercitationem ea, facilis quas soluta minus perferendis vero temporibus adipisci modi possimus quaerat incidunt nihil. Repudiandae eaque vel aliquid hic. Qui hic dolores dignissimos fugit voluptates porro, blanditiis impedit provident laudantium quis voluptatibus alias ullam at rem consequatur molestiae aspernatur delectus accusantium?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus debitis assumenda repellendus, excepturi dolore vero facere laboriosam et enim est fugit. Obcaecati odio ipsam, veritatis sequi facere rerum accusantium iusto esse officiis corporis ipsa sit ducimus est, aspernatur quis eligendi voluptatem, dolores quam cum? Asperiores dolorum iste eveniet aperiam eaque debitis aut laborum modi officiis atque illum recusandae neque placeat earum blanditiis adipisci sapiente sit deserunt, similique expedita praesentium deleniti iure! Ab repellendus, impedit autem doloremque quod labore corrupti laboriosam architecto maiores enim molestiae nihil, optio deleniti ea blanditiis a ut harum possimus, sunt praesentium. Sequi nulla dolores suscipit sint reprehenderit quo vero nam earum veritatis distinctio voluptas, dolor tenetur ullam perferendis modi tempora accusamus aliquam asperiores esse. Fuga, architecto?</p>

    <figure>
        <img height="600" width="550"  src="../../public/monk.jpg" alt="meditation">
        <figcaption>Beautiful child doing meditation painting</figcaption>
    </figure>
    </article>
    
</body>
</html>

<style>
    body{
        line-height: 1.5;
        font-family: sans-serif;
        font-size: clamp(1.125rem,2vw,1.5rem);
        margin: 1rem auto;
        width: 80vw;
    }
    h1{
        font-size: 2rem;
        margin: 47vh 0;
        text-align: center;
    }
    figure{
        margin:3rem auto;
        width: 80%;
        animation: translatex ease-in-out both 2s;
        animation-timeline:view();
        animation-range: entry 50% cover 50%;
    }

    p{
        animation: fade ease-in-out both;
        animation-timeline: view();
        animation-range: entry 20% cover 50%;
        background-clip: text;

    }

    h2{
        animation: fade ease-in-out both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
        background-clip: text;
        -webkit-background-clip: text;
        /* color: transparent ; */
    }
    @keyframes fade{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        0%{
            opacity: 0;
        }
        
    }
    @keyframes translatex{
        from{
            transform: translateX(-100%);
            opacity: 0;
        }
        to{
            transform: translateX(0%);
            opacity: 1;
        }
        0%{
            transform: translateX(-100%);
            opacity: 0;
        }
        25%{
            transform: translateX(-70%);
            opacity: 0.4;
        }
        50%{
            transform: translateX(-50%);
            opacity: 0.6;
        }
        75%{
            transform: translateX(-25%);
            opacity: 0.8;
        }
        100%{
            transform: translateX(0%);
            opacity: 1;
        }
    }
</style>